feedparser>=6.0.10
streamlit>=1.31.0
requests>=2.31.0
APScheduler>=3.10.1
pandas>=2.0.0
python-dotenv>=1.0.0
textblob>=0.17.1
beautifulsoup4>=4.12.2
newspaper3k>=0.2.8
trafilatura>=1.6.0
googlenewsdecoder>=0.1.7
openpyxl>=3.1.2
gspread>=6.0.0
google-auth>=2.20.0

